ASSIGNMENT- 1

ANSWER 1

In [36]:
#(i) variable containing string
a="HELLO"
#(ii)variable containing list
b=["hi", 4 , 5 ,5]
#(iii)variable containing float
c=4.5
#(iv)variable containing tuple
d=(4,2,5,3,6)

ANSWER 2

In [37]:
var1 = ''
var2 ='[ DS , ML , Python]'
var3 =[ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

ANSWER 3

In [38]:
a=10         
b=45
division=b/a   #(i)
remainder=b%a    #(ii)
floor_division=b//a  #(iii)
exponent=b**a   #(iv)
print("division:", division)
print("remainder:", remainder)
print("floor_division:", floor_division)
print("exponent:", exponent)

division: 4.5
remainder: 5
floor_division: 4
exponent: 34050628916015625

ANSWER 4

In [39]:
l=["hello", 5, 4.5, True , "dear" ,7,485.6 ,False ,5.5,7]
for i in l:
    print(i ,type(i))

hello <class 'str'>
5 <class 'int'>
4.5 <class 'float'>
True <class 'bool'>
dear <class 'str'>
7 <class 'int'>
485.6 <class 'float'>
False <class 'bool'>
5.5 <class 'float'>
7 <class 'int'>

ANSWER 5

In [41]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

count = 0
while A % B == 0:
    A = A // B
    count += 1

if count > 0:
    print(f"Number A is divisible by number B, and it can be divided {count} times.")
else:
    print("Number A is not divisible by number B.")

Enter number A:  100
Enter number B:  10

Number A is divisible by number B, and it can be divided 2 times.

ANSWER 6

In [42]:
numbers = [12, 34, 17, 9, 21, 56, 33, 42, 8, 11, 27, 50, 61, 18, 30, 23, 15, 37, 48, 5, 10, 39, 46, 20, 25]

for num in numbers:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

12 is divisible by 3.
34 is not divisible by 3.
17 is not divisible by 3.
9 is divisible by 3.
21 is divisible by 3.
56 is not divisible by 3.
33 is divisible by 3.
42 is divisible by 3.
8 is not divisible by 3.
11 is not divisible by 3.
27 is divisible by 3.
50 is not divisible by 3.
61 is not divisible by 3.
18 is divisible by 3.
30 is divisible by 3.
23 is not divisible by 3.
15 is divisible by 3.
37 is not divisible by 3.
48 is divisible by 3.
5 is not divisible by 3.
10 is not divisible by 3.
39 is divisible by 3.
46 is not divisible by 3.
20 is not divisible by 3.
25 is not divisible by 3.

ANSWER 7

An immutable data type means that once an object is created, its value cannot be changed. Eg- int,str,tuple

On the other hand, a mutable data type allows modifications to its value after it has been created.Eg- list,dictionaries, sets

In [43]:
# IMMUTABLE
name = "Alice"
print(name)

# Trying to modify a character at a specific index in the string will result in an error.
name[0] = "B"  # Raises TypeError: 'str' object does not support item assignment

Alice

TypeError: 'str' object does not support item assignment

In [44]:
#  MUTABLE
numbers = [1, 2, 3, 4]
print(numbers) 

numbers[0] = 5
print(numbers) 

# The original list object is modified.

[1, 2, 3, 4]
[5, 2, 3, 4]